<div class="mt-4">
    <form class="row g-3 needs-validation" method="POST" novalidate>
        <div class="col-md-4">
            <label for="search" class="form-label">Search</label>
            <input type="text" name="q" class="form-control" id="validationCustom01" placeholder="tim kiem" required>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
</form>
</div>